
<div class="grid grid-rows-2 gap-4" style="padding-left: 25rem; padding-right: 25rem; padding-top: 5rem;">
  <div>
    <div>
    <%= label_tag :address, 'Website URL:', class:'text-sm text-slate-800 font-medium' %><br>
    <%= text_field_tag :address, '', {class: 'sborder-1 text-sm font-bold rounded-md box-border h-11', :style=>'width: 460px;'} %>
    </div>
  </div>
  <div id="list_urls" style="padding-top: 6px; padding-left: 12px;">
  </div>
</div> 

